<section class="page-panel">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3 mb-0"><%= @managed_user.name %></h1>
    <%= link_to "Editar", edit_managed_user_path(@managed_user), class: "btn btn-primary" %>
  </div>
  <dl class="row">
    <dt class="col-sm-3">RFC</dt><dd class="col-sm-9"><%= @managed_user.rfc %></dd>
    <dt class="col-sm-3">Direccion</dt><dd class="col-sm-9"><%= @managed_user.address %></dd>
    <dt class="col-sm-3">Telefono</dt><dd class="col-sm-9"><%= @managed_user.phone %></dd>
    <dt class="col-sm-3">Website</dt><dd class="col-sm-9"><%= @managed_user.website %></dd>
  </dl>
  <%= link_to "Volver", managed_users_path, class: "btn btn-link" %>
</section>
